/* @import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: auto;
  padding: 0px;
  /* font-family: "Handjet", cursive; */
  font-family: 'Poppins', sans-serif;
  min-width: 320px;
  max-width: 425px;
}
