:root {
  --orange: #ff6600;
  --blue: #006699;
}

.container {
  padding: 15px 10px 65px 10px;
}

.header {
  margin: 0;
  margin-bottom: 5px;
}

.subHeader {
  font-size: small;
}

.categoryContainer {
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.21);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 20px 20px 15px 20px;
  border-radius: 20px;
}

.promoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.promoHeader h3 {
  margin: 0;
}

.promoHeader p {
  color: var(--blue);
  margin: 0;
}

.icons {
  background-color: var(--orange);
  color: white;
  border-radius: 20px;
  padding: 20px 20px 15px 20px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
}

.category p {
  margin: 7px;
  font-size: 13px;
  font-weight: bold;
}

.promoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.promo {
  flex: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.21);
}

.promo img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.promoDesc {
  padding: 2px 13px;
  text-align: justify;
}

.promoDesc h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--orange);
}

.promoDesc p {
  font-size: small;
}
